body{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   height: 100vh;
   background-image: url(image\ 1.jpg);
   background-size: contain;
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* border: 2px solid rgb(173,171,171); */
    height: 300px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Trebuchet MS';
    
}

.container1{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

h1{
    


}

p{
    color: rgb(53, 52, 52);
    font-size:small ;

}

input{
    margin: 5px;
    padding: 5px;
    font-family: 'Trebuchet MS';
    border: 0;
    border-bottom: 1px solid rgb(53, 52, 52);

}

a{
    text-decoration: none;
    padding: 5px;
    color:rgb(56,130,246) ;
    margin-bottom: 5px;
    font-size: small;
    

}

button{
    padding: 8px 20px;
    border-radius: 5px;
    background-color: rgb(56,130,246);
    border: 1px solid rgba(229,231,235, 1);
    color:  rgb(229,231,235);

}
